body {
    background-color: #48aecb;
}

#title {
    color: #d53f02;
    text-align: center;
    font-size: 72px;
    font-family: "Britannic Bold";
}

.p {
    color: black;
    font-size: 10px;
    font-family: Calibri;
}

h2 {
    color: black;
    font-size: 18px;
    text-align: center;
}


/*button style*/
.favBtn, .detailsBtn{
    border-radius: 10px;
    border: 0 ;
    background-color: #48aecb;
    padding: 14px 15px;
    margin: 10px auto;
    width: 150px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
}

.favBtn:hover, .detailsBtn:hover{
    background-color: #d53f02;
    cursor: pointer;
}

.favBtn:active, .detailsBtn:active{
    border: 2px solid #d53f02;
    background-color: #d53f02;
}

.favorited {
    border-radius: 10px;
    border: 0 ;
    background-color: #d53f02;
    padding: 14px 15px;
    margin: 10px auto;
    width: 150px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
}

/*Grid container*/
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto /*auto*/;
    grid-gap: 10px;
    background-color: white;
    padding: 20px;
}

.grid-container div{
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 25px;
}

.information{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 3;
}

.fav{
    background-color: #7accd9;
}

@media (max-width: 750px){
    .grid-container{
        grid-template-columns: auto;
    }

    .information{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 1;
    }
}

@media (min-width: 751px) and (max-width: 1000px){
    .grid-container{
        grid-template-columns: auto auto;
    }

    .information{
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 5;
        grid-column-end: 2;
    }}